*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family:Verdana, Geneva, Tahoma, sans-serif;
}
html,body{
    width: 100%;
    height: 100%;
}
main{
    width: 100%;
    height: 100vh;
    display: grid;
    grid-template-columns: 25% 25% 50%;
    
    /* background-color: #EDEBED; */
    grid-template-rows: 26% 56% 18% ;
}
.logo{
   /* background-color: red    ; */
   padding: 1.2vw; 
}
.menu{
    /* background-color: aqua; */
    grid-column: 2;
    justify-self: end;
    align-self: center;
    text-align: right;
    padding: 3vw; 
}
.menu h4{
    margin-bottom: 1.5vw;
    font-size: 2vw;
}
.menu h5{
    font-size: 1.2vw;
    color: #3a3939;
}
.hero{
    /* background-color: blanchedalmond; */
    grid-column: 1 / 3;
    padding: 0 1.2vw;
}   
.hero h4{
    font-size: 6.8vw;
    /* font-stretch:10px; */
    font-weight: 200;
    line-height: 6.3vw;
}
.hero h4:nth-child(2n){
    text-align: center;
}
.footer{
    /* background-color: blue; */
    grid-column: 1/3;
    padding: 1.2vw;
}
.video{
    /* background-color: rgb(224, 127, 0); */
    grid-column: 3;
    grid-row: 1 / 4;
    padding: 1.2vw;
    padding-right: 6vw;
}
#square{
    background-color: black;
    height: 20px;
    width: 20px;
    transform: rotate(45deg);
}
.video video{
    width: 100%;
    height: 100%;
    object-fit: cover;
}
.arrow{
    position: absolute;
    top: 50%;
    left: 50%;
    background-color: #FF4500;
    height: 100px;
    width: 100px;
    transform: translate(-50%, -50%);
    border-radius: 50%;
    display: flex;
    align-items: center;
    justify-content: center;
    font-size: 3vw;
}

@media (max-width :600px) {
    main{
        grid-template-columns: 50% 50%;
        grid-template-rows: 14% 30% 6% 50% ;
        padding: 1.4vw;
    }
    .video{
        grid-column: 1/3;
        grid-row: 4 ;   
    }
    .hero h4{
        font-size:18vw;
        /* font-stretch:10px; */
        font-weight: 200;
        line-height: 15.3vw;
    }
    .menu{
        padding: 30px 20px;
    }
    .menu h4{
        font-size: 7vw;
    }
    .menu h5{
        font-size: 2.8vw;
    }
    .logo{
        padding: 20px 20px;
    }
}