/* CSS Reset */
* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

/* Global Styles */
body,html {
  font-family: 'Arial', sans-serif;
  height : 100%;
  width: 100%;
}

/* Add your own styles below this line */
main{
    width: 100%;
    height: 100vh;
    background-color: #f8f8f8;
}

/* NAVIGATION BAR  */
nav{
    /* background-color: yellow; */
    height: 15vh;
    width: 100%;
    padding: 10px 2vw;
}
.topNav{
    /* border: 1px solid black; */
    width: 100%;
    height: 7.5vh;
    display: flex;
    align-items: center;
    justify-content: space-between;
}
.topContent i{
    display: none;
}
.logo{
    display: flex;
    align-items: center;
    justify-content: center;
    width: fit-content;
}
.circle{
    width: 18px;
    height: 18px;
    background-color: black;
    border-radius: 50%;
}
.topContent{
    display: flex;
    align-items: center;
    gap: 2vw;
}
.bottomNav{
    display: flex;
    align-items: center;
    width: 100%;
    height: 7.5vh;
    gap: 4.5vw;
}
.topNav h4 span{
    color: #8F8F8F;
}
.topContent h4, .bottomNav h5{
    font-weight: 500;
}
/* SCROLLER  */
#scroller{
    width: 100vw;
    height: 41vh;
    /* background-color: yellow; */
    display: flex;
    align-items: center;
    gap: 5vw;
    overflow-x: auto;
}
#scroller::-webkit-scrollbar{
    background-color: transparent;
    height: 7px;    
    width: 30%;
}
#scroller::-webkit-scrollbar-thumb{
    background-color: #ED774F;
}
.scrollerContent{
    width: 50%;
    height: 100%;
    /* background-color: rgb(0, 255, 38); */
    flex-shrink: 0;
    display: flex;
    align-items: center;
    /* padding-top: 3vw; */
    justify-content: center;
}
.scrollerContent h3{
    font-size: 7vw;
    font-weight: 300;
}
.heading{
    height:60%;
    /* background-color: red; */
}
/* IMG SCROLLER  */
#imgContainer{
    width: 100%;
    height: 44vh;
    background-color: cyan;
    display: flex;
    overflow-x: auto;
}
#imgContainer::-webkit-scrollbar{
    display: none;
}
#imgContainer img{
    width: 100%;
    height: 100%;
    flex-shrink: 0;
    object-fit: cover;
}

@media (max-width:600px) {
    nav{
        width: 100%;
        padding: 10px 20px;
    }
    .topContent i{
        display: block;
    }
    .topContent h4{
        display: none;
    }
    .topContent h4:nth-child(1){
        display: block;
    }
    .bottomNav{
        gap: 0;
        justify-content: space-between;
    }
    .bottomNav h5{
        font-size: 2.5vw;
        color: #9a9191;
    }
    #scroller{
        height: 37%;
        padding: 10px 15px;
    }
    .heading{
        height: 40%;
    }
    .heading h2{
        font-size: 3vw;
    }
    .scrollerContent h3{
        font-size: 7vw;
    }
    #imgContainer{
        height: 48%;
    }
    #imgContainer img:nth-child(3){
        object-position: left;
    }

}   