/* CSS Reset */
* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

/* Global Styles */
body,html {
  font-family: 'Arial', sans-serif;
  height : 100%;
  width: 100%;
}

/* Add your own styles below this line */
section{
    width: 100%;
    height: 100vh;
    background: black;
}
#main{
    background: lightblue;
}
#main h1{
    font-size: 41vw;
}